body{
  max-width: 500px;
  margin: auto;
  box-sizing: border-box;
}

.container {
    height: 600px;
    margin-top: 40px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: yellowgreen;
  padding: 8px;
  margin-top: 10px;
}

button{
  padding: 5px;
}

.card .food {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.noentry{
  text-align: center;
}